/* .userlist table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.userlist td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.userlist tr:nth-child(even) {
    background-color: #dddddd; 
} */

.userlist .createmeetingform{
    width: 280px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    color: black
}

.userlist .textbox {
    margin-top: 10px;
}

.userlist select {
    background: none;
}

.userlist .btn{
    margin-top: 10px;
}