.roomlist table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.roomlist td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.roomlist tr {
    width: 100%;
}

.roomlist tr:nth-child(even) {
    background-color: #dddddd; 
}